.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 900;
    background-color: rgba(0, 0, 0, .3);
    display: grid;
    align-items: right;
    justify-content: right;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

.modal__box {
    position: relative;
    width: 700px;
    padding: 45px;
    z-index: 1;
    margin: 30px 15px;
    /* color: #292929; */
    background-color: #E5D2C4;
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transform .8s;
}

.modal.open {
    visibility: visible;
    opacity: 1;

}

.modal.open .modal__box {
    transform: scale(1);
}




.crossed-close-btn {
    background-color: #E5D2C4;
    position: absolute;
    right: 31px;
    top: 15px;
    padding: 5px;
}

.knopka-stop {
    border: none;
    color: #E5D2C4;;
    background-color: #E5D2C4;;

}

.modal-photo {
    border: none;
    color: #E5D2C4;;
    background-color: #E5D2C4;
    margin-bottom: 20px;
}

.adaptihion__container {
 display: flex;
 gap: 55px;
}


.moodal-photoo {
    border: none;
    background-color: #E5D2C4;
}

.text-opicanie-model {
    display: grid;
    align-items: center;
    justify-content: center;
    
}

.price-opicanie-model {
    display: grid;
    align-items: center;
    justify-content: center;
  
}

.zagolovok__logoo {
    display: grid;
    align-items: center;
    justify-content: center;
  
}



/* 
кнопка 2.0 */


.numderr__container{
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: -70px;
}


.numberr {

    margin-top: 90px;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    user-select: none;
    position: relative;
    text-align: left;
    padding: 0;
    width: 140px;
    border: 1px solid #292929;
    display: inline-block;
  }
  .numberr-minuss, .numberr-pluss {
    position: absolute;
    top: 0;
    width: 40px;
    height: 32px;
    /* border-radius: 100px; */
    line-height: 32px;
    display: block;
    background: transparent;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    font-family: arial;
    color: #3e1e02;
    text-decoration: none;
  }
  .numberr-minuss {
    left: 0;
    border-right: 1px solid #292929;
  }
  .numberr-pluss {
    right: 0;
    border-left: 1px solid #292929;
  }
  .numberr-minuss:hover, .numberr-pluss:hover {
    background: #fffcfb;
  }
  .numberr-minuss:active, .numberr-pluss:active {
    background: transparent;
  }
  .numberr-textt{
    display: inline-block;
    font-size: 14px;
    color: #292929;
    line-height: 32px;
    height: 32px;
    padding: 0;
    margin: 0 0 0 42px;
    background: transparent;
    outline: none;
    border: none;
    width: 57px;
    text-align: center;
  }



  /* кнопка заказа */


  .zakaz_btn{
    display: grid;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 114px;
    margin-left: 50px;
    border-radius: 30px;
    border: 1px solid #292929;
    font-family:  "Roboto", sans-serif;
    font-size: 24px;
    background-color: #E5D2C4;
  }