.simvol_container {
  display: flex;
  margin: 0 auto;
  padding-top: 40px;
  gap: 1620px;

}


.cartochkaa__container {
  display: flex;
  margin-top: 50px;
  margin-bottom: 65px;
}

.opicanie_container {
  padding-right: -146px;
}

.cartochka-name {
  font-family: 'Roboto', sans-serif;
  color: #292929;
  margin-top: 50px;
  font-size: 40px;
  line-height: 35px;
}

.cartochka-price {
  font-family: 'Roboto', sans-serif;
  color: #292929;
  font-size: 40px;
  line-height: 35px;
  margin-top: 30px;
}

.cartochka-header__icon {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-top: 24px;


}

.cartochka-text-opicanie {
  font-family: 'Roboto', sans-serif;
  color: #292929;
  max-width: 680px;
  font-size: 23px;
  line-height: 25px;
  padding-top: 110px;
}




/* слайдер  */
  .page-title {
    text-align: center;
  }
  
  .slider-container {
    /* padding-top: 50px;
    padding-right: 125px; */
    position: relative;
    width: 724px;
    height: 724px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
    height: 65px;
    background-color: transparent;
    border: none;
    font-size: 24px;
 
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }


  /* кнопка */

  .number {
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    user-select: none;
    position: relative;
    text-align: left;
    padding: 0;
    width: 140px;
    border: 1px solid #292929;
    display: inline-block;
  }
  .number-minus, .number-plus {
    position: absolute;
    top: 0;
    width: 40px;
    height: 32px;
    /* border-radius: 100px; */
    line-height: 32px;
    display: block;
    background: transparent;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    font-family: arial;
    color: #3e1e02;
    text-decoration: none;
  }
  .number-minus {
    left: 0;
    border-right: 1px solid #292929;
  }
  .number-plus {
    right: 0;
    border-left: 1px solid #292929;
  }
  .number-minus:hover, .number-plus:hover {
    background: #fffcfb;
  }
  .number-minus:active, .number-plus:active {
    background: transparent;
  }
  .number-text{
    display: inline-block;
    font-size: 14px;
    color: #292929;
    line-height: 32px;
    height: 32px;
    padding: 0;
    margin: 0 0 0 42px;
    background: transparent;
    outline: none;
    border: none;
    width: 57px;
    text-align: center;
  }