.catalog__container {
    max-width: 83.125rem;  
    margin: 0 auto;
   }

.catalog__title {
    text-align: center;
    font-size: 2rem;
    color: #292929;
    margin-bottom: 3.125rem;
}

.catalog__products{
    display: flex;
    gap: 6.375rem;
    margin-bottom: 2.875rem;

}

.catalog__name {
    display: block;
    font-size: 1.5rem;
    max-width: 25rem;

}

.catalog__price {
    font-size: 1.625rem;
 
}


.allways__list {
    max-width: 12.5rem;
    
}

.logo-allways-link {
    color: #292929;
    font-size: 1rem;
    line-height: 1.1875rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 1.875rem;
}


.allways {
    position: fixed;
 
}

.catalog__catalog__item-img img {
    border-radius: 1.25rem;
    margin-bottom: -1.25rem;
    margin-top: 0.1875rem;
 
}

.help__picture {
    border-radius: 1.25rem;
    margin-bottom: -1.25rem;
    margin-top: 0.1875rem;
}

.catalog__catalog__item {
    border-radius: 0.625rem;
    height: 36.5625rem;
    background-color: #eddbce ;
    margin-bottom: 3.125rem;
    
}

.header_icon-link1 {
    position: relative;
    z-index: 1;
    top: -22.1875rem;
    right: -20.3125rem;
}

.allways__catalog__container {
    display: flex;
    margin: 0 auto;
    max-width: 83.4375rem;
    margin-right: 10rem;
    margin-bottom: -14.0625rem;
}

.catalog__catalog {
    display: flex;
    flex-wrap: wrap;
    gap: 6.25rem;
    max-width: 87.5rem;
    margin-bottom: 2.875rem;
}

.catalog__catalog__name {
    display: flex;
    z-index: 2;
    font-size: 1.5rem;
    max-width: 23rem;
    max-height: 2.5rem;
    margin-left: 0.625rem;
    margin-bottom: 3.75rem;

}

.catalog__catalog__price {
    color: #757575;
    z-index: 1;
    margin-left: 0.625rem;
    padding-top: 12.5rem;
    max-height: 1.25rem;
    font-size: 0.9375rem;

 
}


.button-wrapper {
    margin-top: 1.125rem;
}

.btn {
    border: none;
    padding: 0.75rem 9.375rem;
    margin-left: 0.625rem;
    border-radius: 1.5rem;
    font-family:  "Roboto", sans-serif;
    font-size: 0.75rem;
    font-size: 0.8rem;
    letter-spacing: 0.125rem;
    cursor: pointer;
    margin-bottom: 0.625rem;

}

.fill {
    
    background: #bea896;
    color: rgba(255,255,255,0.95);
    filter: drop-shadow(0);
    transition: all .3s ease; 
  }
  
  .fill:hover{
    transform: scale(1.125);  
    border-color: rgba(255, 255, 255, 0.9);
    filter: drop-shadow(0 0.625rem 0.3125rem rgba(0,0,0,0.125));
    transition: all .3s ease;    
  }



  .button-cartochca__container {
   margin-left: 0.625rem;
  }
