.new-product__item-image {
    content: '';
    background: url(../../img/cartochka1.png);
    width: 724px;
    height: 724px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;

  }

  .new-product__item-image:hover::after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    background: url(../../img/rectangle.png);
    z-index: -1
   
  }


  