.footer__container {
    display: flex;
    max-width: 52.875rem;
    max-height: 7.8125rem;
    margin: 0 auto;
    
}

.logofooter_icon-link {
    display: block;
    margin: 0 auto;
    margin-bottom: 1.875rem;
}

.logofooter-link {
    font-family:  "Roboto", sans-serif;
    font-size: 1.25rem;
    line-height: 2.75rem;
    color: #292929;
}
