.header__container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3.125rem;
    justify-content: space-between;
    padding-top: 1.875rem;
    align-items: center;
    background-color: #E5D2C4;
    transition: 0.5s;
}


/* адаптация */

.header__burger-btn{
    display: none;
    right: -605px;
    top: -4px;
    position: relative;
    align-items: right;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    background-color: #E5D2C4;
    z-index: 2;
}





.header__burger-btn span{
    position: absolute;
    align-items: right;
    width: 30px;
    height: 3px;
    border: 1.5px solid #292929;
    border-radius: 30px;
    left: 5px;
    top: 18px;
    transition: border .3s, opacity .3s, transform .5s;
    will-change: transform;
}


.header__burger-btn:hover span{
    background-color: #757575;
    border: #757575;
}

.header__burger-btn span:nth-child(1){
    transform: translateY(-10px);
}

.header__burger-btn span:nth-child(2){
    
}

.header__burger-btn span:nth-child(3){
    transform: translateY(10px);
}


/* крестик */

.header.open .header__burger-btn span{
    background-color: #757575;
    border: transparent;
    border-radius: 30px;
    transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(1){
    transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2){
    opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3){
    transform: translateY(0) rotate(-45deg);
}





.header{
    background-color: #E5D2C4;
}

.header__list{
    display: flex;
    gap: 4.5rem;
    font-size: 1.25rem;
    line-height: 2.75rem;
}

.header_nav-link{
    color: #292929;
}

.header_nav-link:hover{
    color: #757575;
}

.logofooter-link:hover{
    color: #757575;
}

.logo-allways-link:hover{
    color: #757575;
}

.text_with_shadows:hover{
    color: #757575;
}

.header__icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.3125rem;
}
.header{
    position: sticky;
    top: 0;
}


@media (max-width: 1399px){

    .header__logo{
        margin-left: 100px;
    }

    .header__burger-btn{
        display: block;
        align-items: right;
        
    }

    .header__nav{
        position: absolute;
        right: -390px;
        top: 0;
        width: 350px;
        background-color: #E5D2C4;
        padding: 75px 20px 20px 20px;
        visibility: hidden;
        transition: transform .5s,  visibility .5s;
        
    }

    .header__list{
        display: block;
    }

    .header__item{
        margin-right: 0;
    }

    .header_nav-link{
        font-size: 21px;
        display: block;
        padding: 10px;

    }

    .header.open .header__nav{
        transform: translateX(-100%);
        visibility: visible;
    }

    .header__icon{
        display: flex;
        margin-right: 95px;
    }

    .hero_picture{
        display: none;
    }

    .hero_picturee{
        z-index: -1;
    }

    .oval{
        z-index: 0;
    }

    .hero_pictureee{
        display: none;
    }

    .catalog__title{
        margin-right:50px;
    }

    .catalog__products{
        margin: 0 auto;
        margin-left: 200px;
        flex-direction: column;
        
    }

    .catalog__catalog__item{
        width: 380px;
    }

    .hero__button{
        margin-left: -300px;
    }

    .get__container{
        max-width: 800px;
    }

    .wrapper__container{
        display: flex;
        flex-direction: column;
        /* max-width: 800px; */
        margin-right: 400px;
    }

    .get_button {
        margin-top: 0px;
        margin-right: 70px;
    }
    .wrapper__form{
        margin-left: -100px;
    }

    .wrapper{
        max-width: 800px;
    }

    .get_opicaniee{
        max-width: 900px;
        display: grid;
        align-items: left;
        justify-content: left;
    }
}


/* модальное окно */

.bag_icon-link{
    border: none;
    background-color: transparent;
}

.header_icon-link{
    border: none;
    background-color: transparent;
}





@media (max-width: 430px){

    .header__logo{
        margin-left: 20px;
    }

    .header__burger-btn{
        display: block;
        align-items: right;
        margin-top: 0px;
        
    }

    .header__nav{
        position: absolute;
        top: 0;
        width: 350px;
        background-color: #E5D2C4;
        padding: 75px 20px 20px 20px;
        visibility: hidden;
        transition: transform .5s,  visibility .5s;
        
    }

    .header__list{
        display: block;
    }

    .header__item{
        margin-right: 0;
    }

    .header_nav-link{
        font-size: 21px;
        display: block;
        padding: 10px;

    }

    .header.open .header__nav{
        transform: translateX(-100%);
        visibility: visible;
    }

    .header__icon{
        display: flex;
        margin-left: 670px;
        margin-top: -100px;
    }

    .hero_picture{
        display: none;
    }

    .hero_picturee{
        margin-left: 150px;
        z-index: -1;
    }

    .oval{
        z-index: 0;
    }

    .hero_pictureee{
        display: none;
    }

    .catalog__title{
        margin-left: 210px;
    }

    .catalog__products{
        margin: 0 auto;
        margin-left: 230px;
        flex-direction: column;
        
    }

    .catalog__catalog__item{
        width: 380px;
    }

    .hero__button{
        margin-left: -260px;
    }

    .line {
        display: grid;
        align-items: center;
        justify-content: center;
        width: 600px;
        margin-left: 100px;
    }

    .get__container{
        max-width: 700px;
    }

    .wrapper__container{
        display: flex;
        flex-direction: column;
        /* max-width: 800px; */
        margin-right: 400px;
    }

    .get_button {
        margin-top: 0px;
        margin-right: -150px;
    }
    .wrapper__form{
        margin-right: -200px;
    }

    .wrapper{
        max-width: 800px;
    }

    .get__title{ 
        margin-left: 50px;
    }
    .get_opicaniee{
        border: none;
        margin-left: 400px;
    }

    .footer__item {
        width: 200px;
        margin-left: 20px;
    }

    .modal.open {
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .modall.open {
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .emerge{
        z-index: -100;
    }

    .modal__box {
        border: none;
        position: relative;
        width: 700px;
        margin-right: -450px;
        padding: 45px;
        z-index: 1;
        margin: 30px 15px;
        /* color: #292929; */
        background-color: #E5D2C4;
        box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
        transform: scale(0);
        transition: transform .8s;
    }
}